<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="assets/img/burger.ico">

    <title>Burger Eating</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
  </body>
</html>